@import 'src/assets/scss/colors';

.p-inputgroup {
  max-width: 600px;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
}

.p-inputgroup-addon {
  background-color: $background-color;
  border-color: $border-color;
}

input {
  border-left: none;
}
