.p-inputgroup {
  max-width: 600px;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.p-inputgroup-addon {
  background-color: #f4f4f4;
  border-color: #dcdcdc;
}

input {
  border-left: none;
}
