@import 'src/assets/scss/colors';

.random-data-table {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.p-table {
  font-family: Arial, sans-serif;
  font-size: 14px;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.p-table thead th {
  background-color: $background-color;
  border-bottom: none;
  font-weight: bold;
  text-align: left;
  padding: 10px 15px;
}

.p-table tbody td {
  padding: 10px 15px;
}

.p-table tr:nth-child(2n) {
  background-color: $background-color;
}

.p-paginator {
  margin-top: 10px;
}

.p-paginator .p-dropdown-label,
.p-paginator .p-dropdown-trigger {
  font-size: 14px;
}

.p-paginator .p-dropdown-label {
  color: $normal-text;
}

.p-paginator .p-dropdown-trigger .p-dropdown-trigger-icon {
  color: $normal-text;
}

.p-paginator .p-dropdown-panel .p-dropdown-item {
  font-size: 14px;
}

.p-paginator .p-paginator-current-page-report {
  font-size: 14px;
  color: $normal-text;
}
