.menu-container {
  margin-bottom: 20px;
}

p-menubarsub {
  display: flex;
  justify-content: flex-end;
}

.menu-item {
  font-family: 'Roboto', sans-serif;
  color: #333;
}

.menu-item:hover {
  background-color: #f2f2f2;
}

.content-container {
  margin-top: 20px;
}

.menu-title {
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: #37474F;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
  padding: 20px 20px 0 0;
}

li.p-element.p-menuitem {
  list-style-type: none;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 50px;
  height: auto;
}
