<div class="artwork-card" appHighlight>
  <div class="artwork-card-content">
    <p-card [style]="{'margin-bottom':'20px'}">
      <ng-template pTemplate="header">
        <img class="artwork-thumbnail" [src]="imageUrl">
      </ng-template>
      <ng-template pTemplate="title">
        <span class="truncated-text" [title]="artwork.title">{{ truncateText(artwork.title, 50) }}</span>
      </ng-template>
      <ng-template pTemplate="subtitle">
        <span class="subtitle">{{ artwork.artist_title | uppercasePipe }}</span>
      </ng-template>
      <ng-template pTemplate="content">
        <p><strong>Origin:</strong> {{ artwork.place_of_origin }}</p>
        <p><strong>Date:</strong> {{ artwork.date_display }}</p>
      </ng-template>
    </p-card>
  </div>
</div>
