p-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 20px;
}

p-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

img {
  border-radius: 5px 5px 0 0;
}

p-card-content {
  padding: 2px 16px;
}

.artwork-thumbnail {
  width: 700px;
  height: 600px;
  object-fit: cover;
}

.artwork-card {
  flex: 0 0 300px;
  margin: 0 10px 10px 0;
}

.truncated-text {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncated-text:hover {
  white-space: normal;
  overflow: visible;
  text-overflow: initial;
}
